

/* =Initialize browser styles default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    line-height:1.5em;
    /* ie7 fixes */
    position:relative;
    z-index:0;


}
html,body{
    height:100%;
    width:100%;
    overflow:hidden;
    font-family:'Varela', sans-serif;
    font-size: 12px;
    
    font-style:normal;
    font-weight:normal;

}
html,body,div{
/* padding fix to exclude from width and heights ie8+ */
         -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
}

:focus {/* remember to define focus styles! */
    outline: 0;
}

body {
  transition:font-size 0.5s ease,line-height 0.5s ease;
    line-height: 1.2em;
    font-size: 10px;
}
ol, ul {
    list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: 0;
    /* ie7 fixes */
    text-decoration:0;
}

/* html5 format fixing */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6, span{
  font-weight:bold;
  text-shadow: #AAA 0 1px 1px, rgba(170,170,170,.2) 0 1px 1px;
}
h1, h2, h3, h4, h5, h6{
  font-size: 1.5em;
}

p{
    text-shadow: none;
    margin: 0.5em 0 0;
    color: #ddd;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub { top: 0.4em; }

textarea{resize:none;}
